<% layout("layouts/boilerplate") %>
<div class="row">
  <div class="col-6 offset-3">
    <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading"><%= err.message %> </h4>
    <% if (process.env.NODE_ENV !== "production") { %>  
    <p><%= err.stack %> </p>
    <% } %> 
  </div>
  </div>
  <div class="col-4 offset-4">
    <button class="btn btn-primary btn-lg mb-3 w-100" id="back">Back</button>
  </div>
</div>

<script src="/back.js"></script>