<% layout("layouts/boilerplate") %>

<h1 class="text-center mb-5"><%= developer.username %> Ng</h1>

    <div class="d-flex justify-content-center mb-5">
            <img src="<%= developer.image[0].profilePhoto %>" class="rounded-circle" alt="profileImg" crossorigin="anonymous"> 
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 mb-5">
                <p>Welcome to YelpCamp! I hope you are enjoying the project I made! Following the guidance of Colt Steele in his Udemy course
                    "The Web Developer Bootcamp 2022" in creating this app, I have also added some nice features. These include a simple search bar
                    and a user profile page.
                </p>
                <p>I am currently a co-op student in the Computer Systems Technology Program at BCIT. I have so far made two group projects during my
                    time at BCIT, which you will find below.
                </p>
                <p>Feel free to contact me if you have any questions!</p>
            </div>
            <div class="col-md-8 offset-md-2 mb-5">
                <h2 class="mb-4">Projects</h2>
                <div class="mb-5">
                    <h3 class="my-3"><i>InstaPlan</i></h3>
                    <p>InstaPlan is a web application that helps to provide information about attractions, restaurants, and 2030 Olympic games
                        (hypothetically) in Vancouver. This application also helps generate an itinerary for busy 2030 Vancouver Olympic tourists.</p>
                    <a href="https://comp1800-project-9594b.web.app/" class="btn btn-primary btn-lg">Visit InstaPlan</a>
                    <a href="https://github.com/lucasj8018/1800_202210_BBY26" class="btn btn-success btn-lg">View Github</a>
                </div>
                <div class="mb-5">
                    <h3 class="my-3"><i>A Bite Of Home</i></h3>
                    <p>A Bite Of Home is a web application that helps home chefs to start their private businesses by allowing them a platform to sell
                        their home-cooking, as well as post their recipes. Users can purchase home-cooked meals, as well as look up recipes from these home chefs.</p>
                    <a href="https://a-bite-of-home.herokuapp.com/" class="btn btn-primary btn-lg">Visit A Bite Of Home</a>
                    <a href="https://github.com/lucasj8018/2800-202210-BBY28" class="btn btn-success btn-lg">View Github</a>
                </div>
                <div class="mb-5">
                    <h3 class="my-3"><i>YelpCamp</i></h3>
                    <p>YelpCamp is a web application that allows users to explore campgrounds. Users may view the information, photos, and reviews of each
                        campground, in addition to the profiles of the campground author and reviewers. Users can make their own campgrounds and post their
                        own reviews as well.</p>
                    <a href="https://yelp-camp-web-app.herokuapp.com/" class="btn btn-primary btn-lg">Visit YelpCamp</a>
                    <a href="https://github.com/lucasj8018/2800-202210-BBY28" class="btn btn-success btn-lg">View Github</a>
                </div>
            </div>
        </div>
    </div>
