<% layout("layouts/boilerplate") %>

    <link rel="stylesheet" href="/contact.css">

    <h1 class="text-center mb-5">
        <%= developer.username %> Ng
    </h1>

    <div class="d-flex justify-content-center mb-5">
        <img src="<%= developer.image[0].profilePhoto %>" class="rounded-circle" alt="profileImg"
            crossorigin="anonymous">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 mb-5">
                <p>Welcome to YelpCamp! I hope you are enjoying the project I made from following the guidance of Colt
                    Steele in his Udemy course
                    "The Web Developer Bootcamp 2022". I have also added some more features, such a simple search bar,
                    post times, and a user profile page.
                </p>
                <br>
                <p>I am currently a co-op student in the Computer Systems Technology Program at BCIT. In addition to the
                    YelpCamp solo project, I have
                    worked on two BCIT group projects. You can find them in my portfolio.
                </p>
                <br>
                <p>Feel free to contact me if you have any questions!</p>
            </div>

            <div class="col-md-8 offset-md-2 mb-5">
                <h2 class="mb-4">Contact Information</h2>
                <p>Email: <a href="mailto: justincng58@gmail.com">justincng58@gmail.com</a></p>
                <p>LinkedIn: <a href="https://www.linkedin.com/in/justin-ng-79921b240/" target="_blank">Justin Ng</a></p>
                <p>Portfolio: <a href="https://justin-ng-portfolio.herokuapp.com/" target="_blank">Justin Ng's Portfolio</a> 
            </div>
    </div>