<% layout("layouts/boilerplate") %>

    <link rel="stylesheet" href="/contact.css">

    <h1 class="text-center mb-5">
        <%= developer.username %> Ng
    </h1>

    <div class="d-flex justify-content-center mb-5">
        <img src="<%= developer.image[0].profilePhoto %>" class="rounded-circle" alt="profileImg"
            crossorigin="anonymous">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 mb-5">
                <p>Welcome to YelpCamp! I hope you are enjoying the project I made from following the guidance of Colt
                    Steele in his Udemy course
                    "The Web Developer Bootcamp 2022". I have also added some more features, such a simple search bar,
                    post times, and a user profile page.
                </p>
                <br>
                <p>I am currently a co-op student in the Computer Systems Technology Program at BCIT. In addition to the
                    YelpCamp solo project, I have
                    worked on two BCIT group projects, which you will find below.
                </p>
                <br>
                <p>Feel free to contact me if you have any questions!</p>
            </div>

            <div class="col-md-8 offset-md-2 mb-5">
                <h2 class="mb-4">Contact Information</h2>
                <p>Email: <a href="mailto: justincng58@gmail.com">justincng58@gmail.com</a></p>
                <p>LinkedIn: <a href="https://www.linkedin.com/in/justin-ng-79921b240/">Justin Ng</a></p>
            </div>

            <div class="col-md-8 offset-md-2 mb-5">
                <h2 class="mb-4">Projects</h2>

                <div class="mb-5">
                    <h3 class="my-3"><i>InstaPlan</i></h3>
                    <div id="instaPlanCarousel" class="carousel slide mb-3" data-bs-ride="true">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#instaPlanCarousel" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#instaPlanCarousel" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#instaPlanCarousel" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://res.cloudinary.com/dehadt57g/image/upload/v1661327754/YelpCamp/ProjectImages/InstaPlan_Home_y9ouuk.png"
                                    class="d-block w-100" alt="instaPlanHome" crossorigin="anonymous">
                            </div>
                            <div class="carousel-item">
                                <img src="https://res.cloudinary.com/dehadt57g/image/upload/v1661327754/YelpCamp/ProjectImages/InstaPlan_Restaurant_szqzof.png"
                                    class="d-block w-100" alt="instaPlanRestaurant" crossorigin="anonymous">
                            </div>
                            <div class="carousel-item">
                                <img src="https://res.cloudinary.com/dehadt57g/image/upload/v1661327754/YelpCamp/ProjectImages/InstaPlan_Plan_exopqu.png"
                                    class="d-block w-100" alt="instaPlanPlan" crossorigin="anonymous">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#instaPlanCarousel"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#instaPlanCarousel"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <p>InstaPlan is a web application that helps to provide information about attractions, restaurants,
                        and 2030 Olympic games
                        (hypothetically) in Vancouver. This application also helps generate an itinerary for busy 2030
                        Vancouver Olympic tourists.</p>
                    <a href="https://comp1800-project-9594b.web.app/" class="btn btn-primary btn-lg">Visit InstaPlan</a>
                    <a href="https://github.com/lucasj8018/1800_202210_BBY26" class="btn btn-success btn-lg">View
                        Github</a>
                </div>

                <div class="mb-5">
                    <h3 class="my-3"><i>A Bite of Home</i></h3>
                    <div id="aBiteOfHomeCarousel" class="carousel slide mb-3" data-bs-ride="true">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#aBiteOfHomeCarousel" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#aBiteOfHomeCarousel" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#aBiteOfHomeCarousel" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://res.cloudinary.com/dehadt57g/image/upload/v1661329273/YelpCamp/ProjectImages/aBiteOfHome_Home_yueg2a.png"
                                    class="d-block w-100" alt="aBiteOfHomeHome" crossorigin="anonymous">
                            </div>
                            <div class="carousel-item">
                                <img src="https://res.cloudinary.com/dehadt57g/image/upload/v1661329273/YelpCamp/ProjectImages/aBiteOfHome_kitchenRegistration_ogpqpd.png"
                                    class="d-block w-100" alt="aBiteOfHomeKitchenRegistration" crossorigin="anonymous">
                            </div>
                            <div class="carousel-item">
                                <img src="https://res.cloudinary.com/dehadt57g/image/upload/v1661329272/YelpCamp/ProjectImages/aBiteOfHome_Cart_homqxk.png"
                                    class="d-block w-100" alt="aBiteOfHomeCart" crossorigin="anonymous">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#aBiteOfHomeCarousel"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#aBiteOfHomeCarousel"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <p>A Bite of Home is a web application that helps home chefs to start their private businesses by
                        allowing them a platform to sell
                        their home-cooking, as well as post their recipes. Users can purchase home-cooked meals, as well
                        as look up recipes from these home chefs.</p>
                    <a href="https://a-bite-of-home.herokuapp.com/" class="btn btn-primary btn-lg">Visit A Bite of
                        Home</a>
                    <a href="https://github.com/lucasj8018/2800-202210-BBY28" class="btn btn-success btn-lg">View
                        Github</a>
                </div>
                <div class="mb-5">
                    <h3 class="my-3"><i>YelpCamp</i></h3>
                    <div id="yelpCampCarousel" class="carousel slide mb-3" data-bs-ride="true">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#yelpCampCarousel" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#yelpCampCarousel" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#yelpCampCarousel" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://res.cloudinary.com/dehadt57g/image/upload/v1661330344/YelpCamp/ProjectImages/YelpCamp_Home_xzf2f4.png"
                                    class="d-block w-100" alt="yelpCampHome" crossorigin="anonymous">
                            </div>
                            <div class="carousel-item">
                                <img src="https://res.cloudinary.com/dehadt57g/image/upload/v1661330344/YelpCamp/ProjectImages/YelpCamp_All_Campgrounds_wtjvfw.png"
                                    class="d-block w-100" alt="yelpCampAllCampgrounds" crossorigin="anonymous">
                            </div>
                            <div class="carousel-item">
                                <img src="https://res.cloudinary.com/dehadt57g/image/upload/v1661330344/YelpCamp/ProjectImages/YelpCamp_Show_Campgrounds_fakxh6.png"
                                    class="d-block w-100" alt="yelpCampShowCampground" crossorigin="anonymous">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#yelpCampCarousel"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#yelpCampCarousel"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <p>YelpCamp is a web application that allows users to explore campgrounds. Users may view the
                        information, photos, and reviews of each
                        campground, in addition to the profiles of the campground author and reviewers. Users can make
                        their own campgrounds and post their
                        own reviews as well.</p>
                    <a href="https://yelp-camp-web-app.herokuapp.com/" class="btn btn-primary btn-lg">Visit YelpCamp</a>
                    <a href="https://github.com/Katsumac/YelpCamp" class="btn btn-success btn-lg">View Github</a>
                </div>
            </div>
        </div>
    </div>