<% layout("layouts/boilerplate") %>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <img src="https://images.unsplash.com/photo-1496545672447-f699b503d270?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80"
                    alt="tent" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Log In to YelpCamp!</h5>
                        <form action="/login" method="POST" class="validated-form" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="username" id="username-label">Username</label>
                                <input class="form-control" type="text" name="username" id="username" placeholder="Username"
                                    autofocus required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password" id="password-label">Password</label>
                                <input class="form-control" type="password" name="password" id="password"
                                    placeholder="Password" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-success">Log In</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>